$blue: #8facd1;
$dark-blue: #2980b9;
$white: #fff;

$primary: $blue;
$secondary: $white;

@import url(https://fonts.googleapis.com/css?family=Lato);
$lato: 'Lato', sans-serif;
$helvetica: Helvetica, Arial, sans-serif;